body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
    
}
a{
    text-decoration: none;
    
}
#top-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 8%;
    background-color: white;
    z-index: 10; 
    position: fixed;
    top:0;
    left: 0; 
    box-shadow: 0 2px 5px #ccc;
    box-sizing: border-box;
}
#left-menu{
    display: inline-flex;
    justify-content: start;
    align-items: center;
    text-transform: uppercase;
    
}
#logo > a{
    cursor: pointer;
    color: black;
  
    
    
}
#logo{
    font-size: 36px;
    font-weight: 400;
    margin-right: 16px;
}
#logo span{
    font-weight: 800;
  
    
}

#left-menu  > a{
    margin-left: 32px;
    color:black;
    font-weight: 600;
    
}
#left-menu  a:hover{
    color:#009688
}
#search-wrapper{
    width: 100%;
    position: relative;
    max-width: 400px;
}

#search-wrapper i{
    position: absolute;
    color: #999;
    font-size: 18px;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
}
#search-box{
    width: 100%;
    border: 1px solid rgb(245, 242, 242);
    background-color: rgb(245, 242, 242);
    box-sizing: border-box;
    padding: 10px 24px 8px 48px;
    color: black;
    outline: none;
}
#right-menu{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

#cart-wrapper{
    position: relative;
    margin-right: 32px;
    cursor: pointer;
}

#items-count{
    width: 18px;
    height: 18px;
    font-size: 12px;
    margin:0px;
    /* padding-top: 1px; */
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
    background-color: #009688;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    right: -12px;
}

#cart-wrapper i{
    font-size: 20px;
    color:black
}


#right-menu img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

main{
    width: 100%;
    min-height: 80vh;
    box-sizing: border-box;
    margin-top:100px;
    padding-bottom: 8%;
}

#edyoda-projects-logo{
    width: 120px;
    position: fixed;
    bottom:50px;
    right:50px;

}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    box-sizing: border-box;
    background-color: #1c1b1e;
    text-transform: uppercase;
    padding:4% 8%;
}
footer a{
    color: white;
    display: block;
   
}
footer div{
    padding-left:60px;
    padding-right: 60px;
}
.footer-heading{
    font-weight: 600;
    font-size:16px;
    opacity: 0.8;
    letter-spacing: 1px;
}
.footers{
    margin-top: 12px;
    opacity: 0.7;
    font-size: 14px;
    letter-spacing: 1px;
}
@media (max-width : 500px){
   
    #logo {
        font-size: 24px;
        margin-right: 10px;
    }
    #cart-wrapper{
        margin-right: 150px;
    }

    #cart-wrapper i{
        font-size:  40px;
    }
    #items-count{
        
        width: 30px;
        height: 30px;
        font-size: 20px;
    }
    #right-menu img{
        width: 30px;
        height: 30px;
    }
#search-wrapper{
    display: none;
}
.home-links{
    display: none;
}
footer {
    
    flex-wrap: wrap;
    padding: 4% 0%;
}
footer div {
    padding-right: 10px;
    margin-bottom: 0px;
}
footer div p {
    letter-spacing: 0px;
    font-size: 10px;
}
footer div a {
    font-size: 8px;
    margin-top: 0;
}

}